# deps & build output
node_modules/
electron/node_modules/
electron/dist/
dist/

# electron/wine
.wine/
electron/app/index.html      # генерируется скриптом сборки из src/*/index.html (не коммитим копию)

# misc
*.log
.DS_Store
Thumbs.db
